details[role=list] summary:not([role]) {
    padding: 0;
    border: 0;
}
details[role=list] summary::after {
    display: none;
}
details[role=list] summary+ul {
    max-height: 260px;
    overflow-y: auto;
}
details[role=list] summary+ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
details[role=list] summary+ul li span {
    width: 100%;
    height: 60px;
    padding: var(--spacing);
    margin: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
summary::marker {
    opacity: 0;
    content: '';
}
 
.abn-tooltip-box {
    display: none;
    position: absolute;
    width: 60%;
    top: 40px;
    right: 0;
    background: #000000;
    padding: 10px;
    border: solid 1px #ebebeb;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
 }

 .tooltip-pay:hover .abn-tooltip-box {
    display: block;
 }

 .text-blue-600 {
    color: rgba(.546 .245 262.881);
 }

 .min-h-108 {
    min-height: 108px;
 }