details[role=list] summary:not([role]) {
    padding: 0;
    border: 0;
}
details[role=list] summary::after {
    display: none;
}
details[role=list] summary+ul {
    max-height: 260px;
    overflow-y: auto;
}
details[role=list] summary+ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
details[role=list] summary+ul li span {
    width: 100%;
    height: 60px;
    padding: var(--spacing);
    margin: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
summary::marker {
    opacity: 0;
    content: '';
}
 
.tooltip-pay {
    position: relative;
    display: inline-block;
}

.two-tooltip-box {
    visibility: hidden;
    width: 200px;
    top: 40px;
    right: 0;
    background-color: black;
    padding: 10px;
    border: solid 1px #ebebeb;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    transition: opacity 0.3s;
    line-height: 1.5;
    white-space: normal;
    position: absolute;
    z-index: 100;
 }

 .tooltip-pay:hover .two-tooltip-box {
    visibility: visible;
 }

 .text-blue-600 {
    color: rgba(.546 .245 262.881);
 }

 .min-h-108 {
    min-height: 108px;
 }
